@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-color: rgba(244,240,236) !important;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
	margin-top: 2%;
}

.div-space {
	margin-top:1%;
}

.card {
	height: 100%;
	background-color: rgba(124, 186, 228, 0.5) !important;
	color: white;
}

.img-fluid {
	width: 50px;
	height: 50px;
}

.nav-backround {
	background-color: #000080;
}


.card-header{
	color: #FFC312;
	text-shadow: 0 0 3px #000000, 0 0 5px #c0c0c0;
}

.input-size {
	width: 140px;
}

.search_btn {
	background-color: #FFC312 !important;
	border-color:#c0c0c0 !important;
}

.cancel_btn {
	border-color:  rgba(124, 186, 228, 0.5) !important;
}

.right {
	margin-right: 0;
	 margin-left:auto;

}

.p_text{
	color: #FFC312;
	text-shadow: 0 0 3px #000000, 0 0 5px #c0c0c0;
}

 




